.theme-wrapper {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: var(--main-background);
  transition: all .5s;
  font-family: "Spartan", sans-serif;
  font-size: 32px;
  padding: 1em;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--font-colour-two);
  transition: all .5s;
  font-size: 0.8em;
}
h2 {
  color: var(--font-colour-two);
  transition: all .5s;
  font-size: 0.5em;
}
