.button {
  padding: 0.4em 1em 0.2em 1em;
  border: none;
  border-radius: 0.3em;
  color: var(--font-colour-two);
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--key-background-three);
  box-shadow: 0 5px 0 var(--key-shadow-three);
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  background-color: var(--key-shadow-three);
  box-shadow: 0 5px 0 var(--key-background-three);
}

.button-theme-one {
  color: var(--font-colour-one);
}

@media (max-width: 45rem) {
  .button {
    padding: 0.5em 0.6em 0.3em 0.6em;
    border-radius: 0.15em;
  }
}

.opr {
  text-transform: lowercase;
}

.del {
  font-size: 0.6em;
  color: var(--font-colour-one);
  background-color: var(--key-background-one);
  box-shadow: 0 5px 0 var(--key-shadow-one);
  transition: all 0.3s;
}
.del:hover {
  background-color: var(--key-shadow-one);
  box-shadow: 0 5px 0 var(--key-background-one);
}
.del.button-theme-one {
  color: var(--font-colour-two);
}

.rst {
  font-size: 0.6em;
  color: var(--font-colour-one);
  background-color: var(--key-background-one);
  box-shadow: 0 5px 0 var(--key-shadow-one);
  transition: all 0.3s;
  grid-column: 1 / 3;
}
.rst:hover {
  background-color: var(--key-shadow-one);
  box-shadow: 0 5px 0 var(--key-background-one);
}
.rst.button-theme-one {
  color: var(--font-colour-two);
}

.eql {
  font-size: 0.6em;
  color: var(--font-colour-one);
  background-color: var(--key-background-two);
  box-shadow: 0 5px 0 var(--key-shadow-two);
  transition: all 0.3s;
  grid-column: 3 / 5;
}
.eql:hover {
  background-color: var(--key-shadow-two);
  box-shadow: 0 5px 0 var(--key-background-two);
}
.eql.button-theme-one {
  color: var(--font-colour-two);
}
.eql.button-theme-three {
  color: var(--key-background-one);
}
