.button {
  padding: 0.5em 0.6em 0.3em 0.6em;
  border-radius: 0.15em;
  border: none;
  color: var(--font-colour-two);
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--key-background-three);
  box-shadow: 0 5px 0 var(--key-shadow-three);
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  background-color: var(--key-shadow-three);
  box-shadow: 0 5px 0 var(--key-background-three);
}
.button:active {
  transform: translateY(2px);
  box-shadow: 0 3px 0 var(--key-background-three);
}

.button--theme-one {
  color: var(--font-colour-one);
}

@media (min-width: 45rem) {
  .button {
    padding: 0.4em 1em 0.2em 1em;
    border-radius: 0.3em;
  }
}

.button--opr {
  text-transform: lowercase;
}

.button--del {
  font-size: 0.6em;
  color: var(--font-colour-one);
  background-color: var(--key-background-one);
  box-shadow: 0 5px 0 var(--key-shadow-one);
  transition: all 0.3s;
}
.button--del:hover {
  background-color: var(--key-shadow-one);
  box-shadow: 0 5px 0 var(--key-background-one);
}
.button--del.button--theme-one {
  color: var(--font-colour-two);
}

.button--rst {
  font-size: 0.6em;
  color: var(--font-colour-one);
  background-color: var(--key-background-one);
  box-shadow: 0 5px 0 var(--key-shadow-one);
  transition: all 0.3s;
  grid-column: 1 / 3;
}
.button--rst:hover {
  background-color: var(--key-shadow-one);
  box-shadow: 0 5px 0 var(--key-background-one);
}
.button--rst.button--theme-one {
  color: var(--font-colour-two);
}

.button--eql {
  font-size: 0.6em;
  color: var(--font-colour-one);
  background-color: var(--key-background-two);
  box-shadow: 0 5px 0 var(--key-shadow-two);
  transition: all 0.3s;
  grid-column: 3 / 5;
}
.button--eql:hover {
  background-color: var(--key-shadow-two);
  box-shadow: 0 5px 0 var(--key-background-two);
}
.button--eql.button--theme-one {
  color: var(--font-colour-two);
}
.button--eql.button--theme-three {
  color: var(--key-background-one);
}
