.button {
  color: hsl(0, 0%, 100%);
  padding: 0.5em 0.4em 0.3em 0.4em;
  border-radius: 0.3em;
  color: hsl(221, 14%, 31%);
  text-transform: uppercase;
  background-color: hsl(30, 25%, 89%);
  box-shadow: 0 4px 0 hsl(28, 16%, 65%);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 40rem) {
  .button {
    padding: 0.4em 0.3em 0.2em 0.3em;
    border-radius: 0.15em;
  }
}

.opr {
  text-transform: lowercase;
}

.del {
  font-size: 0.6em;
  color: hsl(0, 0%, 100%);
  background-color: hsl(225, 21%, 49%);
  box-shadow: 0 3px 0 hsl(224, 28%, 35%);
}

.rst {
  font-size: 0.6em;
  color: hsl(0, 0%, 100%);
  background-color: hsl(225, 21%, 49%);
  box-shadow: 0 3px 0 hsl(224, 28%, 35%);
  grid-column: 1 / 3;
}

.eql {
  font-size: 0.6em;
  color: hsl(0, 0%, 100%);
  background-color: hsl(6, 63%, 50%);
  box-shadow: 0 3px 0 hsl(6, 70%, 34%);
  grid-column: 3 / 5;
}
