.input__container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  padding: 0.7em;
  gap: 0.5em;
  border-radius: 0.3em;
  background-color: var(--toggle-keypad-background);
  transition: all 0.5s;
}

@media (min-width: 45rem) {
  .input__container {
    padding: 0.9em;
    gap: 0.7em;
  }
}
