.input-container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 0.7em;
  padding: 0.9em;
  border-radius: 0.3em;
  background-color: var(--toggle-keypad-background);
  transition: all .5s;
}

@media (max-width: 45rem) {
  .input-container {
    padding: 0.7em;
    gap: 0.5em;
  }
}
