header {
  width: 100%;
  display: flex;
  margin-bottom: 0.5em;
}

.header__name {
  transform: translateY(-50%);
  color: var(--font-colour-two);
}

.header__container {
  display: flex;
  gap: 0.5em;
  align-items: center;
  margin-left: auto;
}

.switch {
  width: 2.5em;
  padding: 0.2em;
  border-radius: 2em;
  cursor: pointer;
  background-color: var(--toggle-keypad-background);
  transition: all 0.3s;
}

.switch__container {
  position: relative;
}

.switch__number {
  cursor: pointer;
  position: absolute;
  top: 0;
}
.switch__number:nth-child(1) {
  left: 0;
  transform: translate(100%, -100%);
}
.switch__number:nth-child(1):hover {
  color: var(--key-shadow-two);
}
.switch__number:nth-child(2) {
  left: 50%;
  transform: translate(-50%, -100%);
}
.switch__number:nth-child(2):hover {
  color: var(--key-shadow-two);
}
.switch__number:nth-child(3) {
  right: 0;
  transform: translate(-50%, -100%);
}
.switch__number:nth-child(3):hover {
  color: var(--key-shadow-two);
}

.switch__knob {
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: var(--key-background-two);
  transition: all 0.5s;
}
.switch__knob--theme-two {
  margin: 0 50%;
  transform: translateX(-50%);
}
.switch__knob-theme--three {
  margin-left: 100%;
  transform: translateX(-100%);
}
