.display__container {
  position: relative;
}

.display__main {
  width: 100%;
  padding: 1em 0.6em 0.9em 0.6em;
  font-family: inherit;
  font-size: inherit;
  text-align: right;
  border-style: none;
  border-radius: 0.3em;
  margin-bottom: 0.5em;
  color: var(--font-colour-two);
  background-color: var(--screen-background);
  transition: all 0.3s;
}

@media (min-width: 45rem) {
  .display__main {
    padding: 1.1em 0.8em 1em 0.8em;
  }
}

.display__text--error {
  position: absolute;
  font-size: 0.5em;
  color: var(--key-background-two);
  transform: translate(0.5em, -100%);
}

.display__text--operator {
  position: absolute;
  right: 0;
  font-size: 0.5em;
  color: var(--key-background-two);
  transform: translate(-0.5em, 0.3em);
}
