.App {
  background-color: var(--main-background);
  transition: all 0.5s;
  font-family: "Spartan", sans-serif;
  font-size: 32px;
  padding: 0.5em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: var(--font-colour-two);
  transition: all 0.5s;
  font-size: 1.2em;
}
h2 {
  color: var(--font-colour-two);
  transition: all 0.5s;
  font-size: 0.5em;
}
